.card{
    border: 1px solid;
    margin: 50px;
    height: auto;
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin: 20px 50px;
    align-items: center;
    border: solid 1px #1c375a;
    border-radius: 20px;
    padding: 20px 20px;
    box-shadow:15px 10px #aeaeae;
    font-size: 18px;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.9;
    letter-spacing: 0.5px;
}
.App{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.main{
    display: flex;
    flex-direction: column;
    
}
.navbar{
    display:flex ;
    flex-direction:row;
    justify-content:space-between;
    padding: 10px 50px;
}
button {
    display: flex;
    margin: 10px;
    border-radius: 20px;
    float: right;
    color: aliceblue;
    background-color: #e30a17;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    padding: 16.5px 27.5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 13.2px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 2px solid floralwhite ;
}

button:hover{
    background-color: transparent;
    color: #e30a17;
    transition: 0.2s;
    font-weight: 400;
    border:2px solid #e30a17; 
}

.ihale{
    font-family: 'Montserrat', sans-serif;
    font-size: 13.2px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 3px;
    color: aliceblue;
    margin: 0;
}

.ihale:hover{
   
    color: #e30a17;
    transition: 0.2s;
}