.maindiv1{
    height: 500px;
    width: auto;
    margin: 10px 150px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 20px;
    border: #e30a17 1px solid;
}
.container11{
    height: 150px;
    width: auto;
    display: flex;
    flex-direction: column;
}

.time{
    display: flex;
    flex-direction: row;
}

h1{
    padding:10px 30px;
    color: #e30a17;
}
h3{
    color:#e30a17 ;
}